.header {
    background-color: white;
    height: 55px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-style: solid;
    border-bottom-color: rgb(222, 222, 222);
    border-bottom-width: 1px;
    z-index: 100;
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
}

.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-color: rgb(184, 184, 184);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0px;
    /*minimum width is 0*/
}

.search-bar::placeholder {
    font-family: roboto, arial;
    font-size: 16px;
    color: #767676;
}

.search-button {
    width: 66px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(184, 184, 184);
    margin-left: -1px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notification-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notification-icon-container .tooltip {
    font-family: roboto, arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    /* 排除tooltip区域感应hover */
    white-space: nowrap;
    /* 提示文字不换行 */
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip {
    opacity: 1;
}

.search-icon {
    height: 25px;
}

.voice-search-button {
    width: 40px;
    height: 40px;
    border: none;
    border-color: rgb(184, 184, 184);
    border-radius: 50%;
    margin-left: 10px;
}

.voice-search-icon {
    height: 24px;
}

.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon {
    height: 24px;
}

.youtube-apps-icon {
    height: 24px;
}

.notification-icon-container {
    position: relative;
}

.notification-count {
    position: absolute;
    top: 0px;
    right: -3px;
    background-color: rgb(202, 3, 3);
    color: white;
    font-family: roboto, arial;
    font-size: 10px;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

}

.notification-icon {
    height: 24px;
}

.current-user-picture {
    height: 32px;
    border-radius: 50%;
}