.sidebar {
    width: 72px;
    background-color: white;
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    padding-top: 4px;
    z-index: 200;
}

.sidebar-link {
    height: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 8px;
}

.sidebar-link div {
    font-family: roboto, arial;
    font-size: 10px;
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}