        a {
            text-decoration: none;
            color: inherit;
        }

        .video-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 15px;
            row-gap: 40px;
        }

        @media (max-width: 750px) {
            .video-grid {
                grid-template-columns: 1fr 1fr;
            }
        }

        @media (min-width: 751px) and (max-width: 999px) {
            .video-grid {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        @media (min-width:1000px) {
            .video-grid {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }

        .video-preview {
            display: inline-block;
            vertical-align: top;
        }

        .thumbnail-row {
            margin-bottom: 12px;
            position: relative;
        }

        .thumbnail {
            width: 100%;
            display: block;
        }

        .video-time {
            position: absolute;
            right: 10px;
            bottom: 10px;
            color: white;
            background-color: black;
            font-family: roboto, arial;
            font-size: 12px;
            font-weight: 500;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 4px;
            border-radius: 2px;
        }

        .video-info-grid {
            display: grid;
            grid-template-columns: 50px 1fr;
        }


        .profile-picture {
            width: 36px;
            border-radius: 25px;
        }



        .video-title {
            width: 100%;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 16px;
        }

        .video-author {
            font-size: 12px;
            color: rgb(96, 96, 96);
            margin-bottom: 5px;
        }

        .video-stats {
            font-size: 12px;
            color: rgb(96, 96, 96);
        }